*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.cards-outlet {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
